{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="container mt-5 text-center">
        <div class="row mt-5 mb-5">
            <div class="col-12">
                <h1 class="mb-5">Bill Share Details</h1>
                {% for flatmate in flatmates %}
                    <h5>Flatmate {{ flatmate.name }} pays: <strong>£{{ flatmate.pays }}</strong></h5>
                {% endfor %}
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                {% if pdf_url %}
                    <button id="downloadBtn" class="btn btn-success" onclick="downloadAndRedirect('{{ pdf_url }}')">
                        Download Your Bill PDF
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra-js %}
    <script>
      function downloadAndRedirect(pdfUrl) {
        window.open(pdfUrl, '_blank');
        window.location.href = "{% url 'home' %}";
      }
    </script>
{% endblock %}
